@model IEnumerable<PatientAiderDashboard.Models.Encounters>

@{
    ViewData["Title"] = "PatientAider Administration Dashboard";
}

<div class="row">
    <table class="table table-striped table-hover table-responsive">
        <thead>
            <tr>
                <td>
                    Encounter
                </td>
                <td>
                    Sections / Topics
                </td>
            </tr>
        </thead>
        <tbody>
        @foreach (var encounter in Model)
        {
            <tr>
                <td>
                    @encounter.EncounterName
                </td>
                <td>
                    <ul>
                        @foreach (var sect in encounter.Sections)
                        {
                            <li>@sect.SectionName</li>
                            <ul>
                                @foreach (var st in sect.SectionsXtopics)
                                {
                                    <li>
                                        @st.Topic.Summary
                                        @*<div>@Html.Raw(@st.Topic.Body)</div>*@
                                    </li>
                                                        
                                }
                            </ul>
                        }
                    </ul>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
