@model IEnumerable<PatientAiderDashboard.Models.Encounters>

@{
    ViewData["Title"] = "PatientAider Administration Dashboard";
}

@Html.Hidden("sectionId")
@Html.Hidden("encounterId")
<div class="row fatHead">
    <div class="col-lg-12">
        <img src="images/PatientAider3.png" class="pull-right" height="120"/>
        <h1 class="title" style="margin-top: 80px;">Current Encounters, Sections and Topics</h1>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-12">
        <table style="max-width: 80%; margin: auto;" class="table table-striped table-hover table-responsive">
            <thead>
            <tr>
                <td>
                    <h3>Encounter</h3>
                </td>
                <td class="text-center">
                    <h3>Sections / Topics</h3>
                </td>
            </tr>
            </thead>
            <tbody>
            @foreach (var encounter in Model)
            {
                <tr>
                    <td style="max-width: 25%;">
                        <span class="encounterTitle">@encounter.EncounterName</span>
                    </td>
                    <td>
                        <ul class="noBullet">
                            @foreach (var sect in encounter.Sections)
                            {
                                <li class="sectionHeader">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <span class="sectionTitle">@sect.SectionName</span>
                                        </div>
                                        <div class="col-sm-4 text-right">
                                            <a href="#" title="Save Topic Order" data-listid="@encounter.EncounterName-@sect.SectionName-topicList" style="margin-right: 0;" class="btn btn-sm btn-info saveTopicOrder"><span class="glyphicon glyphicon-saved"></span></a>
                                            <a href="#" title="Add or Remove Topics" data-sectionid="@sect.Id" data-encounterid="@encounter.Id" style="margin-left: 5px;" class="btn btn-sm btn-success addRemoveTopics"><span class="glyphicon glyphicon-pencil"></span></a>
                                        </div>
                                    </div>
                                </li>
                                <ul id="@encounter.EncounterName-@sect.SectionName-topicList" class="topicList">
                                    @foreach (var st in sect.SectionsXtopics)
                                    {
                                        <li>
                                            <a asp-controller="Home" data-id="@st.Topic.Id" title="@st.Topic.Title - @st.Topic.Summary" asp-action="EditTopic" asp-route-id="@st.Topic.Id">@st.Topic.Title</a>
                                        </li>                                    }
                                </ul>
                            }
                        </ul>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<div id="addRemoveTopicsDialog" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add/Remove Topics</h4>
            </div>
            <div class="modal-body">
                <select id="addRemoveTopicsListbox" multiple class="form-control"></select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btnSaveTopics" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

